---
import BaseLayout from "../layouts/BaseLayout.astro";
import AppHeader from "../components/AppHeader.astro";
import TrackBoard from "../components/TrackBoard.astro";
---

<BaseLayout>
  <AppHeader />
  <main>
    <TrackBoard />
  </main>
</BaseLayout>

<script>
  import "../scripts/main";
</script>
