---
import BaseLayout from "../layouts/BaseLayout.astro";
import AppHeader from "../components/AppHeader.astro";
import Visualizer from "../components/Visualizer.astro";
import Controls from "../components/Controls.astro";
import QuakeList from "../components/QuakeList.astro";
---

<BaseLayout>
  <AppHeader />
  <main>
    <Visualizer />
    <Controls />
    <QuakeList />
  </main>
</BaseLayout>

<script>
  import "../scripts/main";
</script>
